* {
    font-family: Gotham, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    --color-oscuro:#0054a4;
    --color-medio: #007dc3;
    --color-claro: #a4d7f4;
    --color-secundario: #e11b22;
    --color-secundario-claro: #e1abb2;
}

#contenedor > header
{
    width: 100%;
    position: fixed;
    font-size:1.1em;
    padding: 5px;
    top: 0px;
    height: 200px;
    text-align: center;
    color: white;
    background-color: var(--color-oscuro);
    text-decoration: none; 
}

header > .logo {
  height: 100%;
  right: 0;
  display: inline;
  float: left;
}

.active {
  background-color: var(--color-secundario);
  border-radius: 10px;
}  

nav{
    position: fixed;  
    width: 100%;
    list-style-type: none;
    top:  200px;
    background-color: var(--color-oscuro);
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-oscuro);
  }
  
nav li {
    display: inline;
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: var(--color-oscuro);
  }

nav li a:hover {
    background-color: var(--color-medio);
  }

#contenedor {
    top:270px;
    position: fixed;
    width:100%;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

section
  {
    left: 0; top: 0;
    float: left;
    width:75%;
    border: 2.5px solid var(--color-oscuro);
	  border-radius: 10px;
    margin: 1%;
  }

section > header
    {
        font-size:1.5em;
        padding: 5px;
        text-align: center;
        color: var(--color-oscuro);
        text-decoration: none;
    }

section > footer
    {
        font-size:.8em;
        padding: 5px;
        text-align: center;
        color: var(--color-oscuro);
        background-color: var(--color-claro);
    }

article
    {
      margin: 20px;
      padding: 20px;
    }

article > p
    {
      font-size: .8em;
      text-align: justify;
      text-indent: 30px;
      initial-letter: var(--color-secundario);
      padding-top: 10px;
    }

.fotoperfil {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

aside
  {
    right: 0; top: 0;
    float: right; 
    top: 0;
    width:20%;
    height: 95%;
    border: 2.5px solid var(--color-oscuro);
	  border-radius: 10px;
    padding: 1%;
    margin: 1%;
  }

footer
    {
        position:fixed; 
        bottom: 0;
        width:100%;
        padding: 1%;
      text-align: center;
      color:var(--color-claro);
      background-color: var(--color-oscuro);
    }