* {
    font-family: Gotham, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    --color-oscuro:#0054a4;
    --color-medio: #007dc3;
    --color-claro: #a4d7f4;
    --color-secundario: #e11b22;
    --color-secundario-claro: #e1abb2;
}

#contenedor > header
{
    width: 100%;
    position: fixed;
    font-size:1.1em;
    padding: 5px;
    top: 0px;
    height: 200px;
    text-align: center;
    color: var(--color-oscuro);
    background-image: url("../images/banner.jpg");
    background-color: var(--color-oscuro);
    text-decoration: none; 
    
}

header > .logo {
  height: 98%;
  right: 0;
  display: inline;
  float: left;
  border-radius: 50%;
  border-color: var(--color-claro) 10px solid;
}

/* 

MENUS
-----
Queremos que queden en horizontal, del mismo color y que el menú activo sea de otro color, para que se diferencie
*/

.active {
  background-color: var(--color-secundario);
  border-radius: 10px;
}  

nav{
    position: fixed;  
    width: 100%;
    list-style-type: none;
    top:  200px;
    background-color: var(--color-oscuro);
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-oscuro);
  }
  
nav li {
    display: inline;
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: var(--color-oscuro);
  }

nav li a:hover {
    background-color: var(--color-medio);
  }

#contenedor {
    top:270px;
    position: fixed;
    width:100%;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

section
  {
    left: 0; top: 0;
    float: left;
    width:75%;
    border-bottom: 2.5px solid var(--color-claro);
    margin: 1%;
  }

section > header
    {
        font-size:1.5em;
        padding: 5px;
        text-align: center;
        color: var(--color-oscuro);
        text-decoration: none;
    }

section > footer
    {
        font-size:.8em;
        padding: 5px;
        text-align: center;
        color: var(--color-oscuro);
        background-color: var(--color-claro);
    }

article
    {
      margin: 20px;
      padding: 20px;
    }

article > p
    {
      font-size: .8em;
      text-align: justify;
      text-indent: 30px;
      initial-letter: var(--color-secundario);
      padding-top: 10px;
    }

aside
  {
    right: 0; top: 0;
    float: right; 
    top: 0;
    width:15%;
    padding: 1%;
    margin: 1%;
  }

aside > header
  {
    text-align: center;
    font-size:1.25em;
    padding: 5px;
    color: var(--color-oscuro);
    text-decoration: none;
  }
 
aside > P
  {
    font-size: .7em;
    text-align: justify;
    text-indent: 30px;
    initial-letter: var(--color-secundario);
    padding-top: 10px;
  }
  /* footer es el pie de página y aparece en todas y cada una de las paginas de nuestra web */

footer
    {
        position:fixed; 
        bottom: 0;
        width:100%;
        padding: 1%;
        text-align: center;
        color:var(--color-claro);
        background-color: var(--color-oscuro);
    }

/*
FORMULARIO
*/

/* fieldset: es cada grupo de datos que aparece en el formulario de contacto.html */

fieldset{
  background-color: var(--color-claro);
  margin:10px;
  border-color: var(--color-oscuro);
  border-radius: 10px;
  padding: 1%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.instrucciones{
  background-color: var(--color-secundario-claro);
  margin:10px;
  border-color: var(--color-secundario);
  border-radius: 10px;
  padding: 1%;
  font-size: .6em;
}

buttom
    {
    background-color: var(--color-oscuro); 
    border: none;
    color: var(--color-claro);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2%;
    border-radius: 12px;
    }
    
button:hover
    {
        color: var(--color-medio);
    }

/* Noticias */

/* En la imagen queremos darle el a */

.imagen-noticia
{
  width: 95%;
  background-color: white;
  text-align: center;
  padding: 10px; 
  display:inline;
}